.logo {
  background-image: asset-url("logo.png", image);
  height: 53px;
  width: 196px;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header {
  border-bottom: 1px solid #CCC;
  margin-bottom: 30px;
}
